.bondDetails {
  width: 100%;
  display: flex;

  .bondDetailsContainer {
    flex: 6;

    .title {
      font-size: 24px;
      padding: 20px 20px 0 20px;
      color: gray;
    }

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;

        .details {
          .title {
            padding: 0;
            color: black;
            font-size: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
          }

          .bondInfo {
            font-size: 15px;
            font-weight: bold;
            color: #5d5d5d;

            .bondData {
              font-weight: normal;
            }
          }
        }
      }

      .right {
        flex: 2;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
        display: flex;
        gap: 30px;
        flex-direction: row;
        justify-content: space-evenly;

        .details {
          .title {
            padding: 0;
            color: black;
            font-size: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
          }

          .bondInfo {
            font-size: 15px;
            font-weight: bold;
            color: #5d5d5d;

            .bondData {
              font-weight: normal;
            }
          }
        }
      }
    }

    .bottom {
      padding: 20px;
      display: flex;
      // gap: 20px;

      .bottomCard {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;

        .title {
          width: 100%;
          padding: 0;
          color: black;
          font-size: 30px;
          padding-bottom: 10px;
          border-bottom: 1px solid #dbdbdb;
          display: flex;
          justify-items: center;
          align-items: center;
          width: 100%;
        }

        .bondRating {
          margin: 30px;
          margin-bottom: 0;
          font-size: 50px;
          font-weight: bold;
        }

        .ratingInfo {
          margin-top: 15px;
          color: gray;
        }
      }
    }
  }
}
